.Headertext{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.861);
}

.Headerlogo{
color: #20c997;
width: 40%;
height: 55px;
float: left;
font-size: 20px;
padding-top: 12px;
margin-left: 35px;
}

.Headernavbarr{
width: 50%;
height: 55px;
float: left;
color: aliceblue;
text-align: end;
font-size: 20px;
padding-top: 12px;
margin-left: 60px;
}

