.Footarrow{
    width: 100%;
    height: 155px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.893);
    color: aliceblue;
}
.Footartext{
    color: aliceblue;
    font-size: 17px;
    padding-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Footartextbox{
    width: 90%;
    height: 140px;
    margin: 0 auto; 
}